{% extends "departments/base.html" %}
{% load static %}

{%  block content %}

    <h1> Departents Home Landing page </h1>

    {% for dpt in dpts %}
        <h1> {{ dpt.name }} </h1>
        <p> {{ dpt.name }} </p>
    {% endfor %}
    <p class="testOmar"> Hola crayola</p>
    <div class="DepartmentsContainer">
        <div class="DepartmentsBlocks">
            <a href="#/Action1" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep1.png' %}"></a>
            <a href="#/Action2" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep2.png' %}"></a>
            <a href="#/Action3" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep3.png' %}"></a>
            <a href="#/Action4" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep4.png' %}"></a>
            <a href="#/Action5" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep5.png' %}"></a>
            <a href="#/Action3" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep6.png' %}"></a>
            <a href="#/Action4" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep7.png' %}"></a>
            <a href="#/Action5" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep8.png' %}"></a>
        </div>
    </div>

    <p class="testOmar"> Hola crayola</p>
    <div class="DepartmentsContainer">
        <div class="DepartmentsBlocks">
            <a href="#/Action1" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep1.png' %}"></a>
            <a href="#/Action2" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep2.png' %}"></a>
            <a href="#/Action3" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep3.png' %}"></a>
            <a href="#/Action4" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep4.png' %}"></a>
            <a href="#/Action5" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep5.png' %}"></a>
            <a href="#/Action3" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep6.png' %}"></a>
            <a href="#/Action4" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep7.png' %}"></a>
            <a href="#/Action5" class="button">
                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep8.png' %}"></a>
        </div>
    </div>
{%  endblock content %}