{% extends "departments/base.html" %}
{% load static %}

{%  block content %}
    <br>

    <h1 style="text-align: center"> Departents Home Landing page </h1>
    <br>
    {% for dpt in dpts %}
        <div>
            <div class="card">

                <div class="image-placeholder">
                    <a href="{% url 'departments-detail' dpt.id %}" ><img class="card-img-top" src="../../static/departments/Pictures/{{ dpt.image }}"  alt="Card image cap"></a>
                </div>

                <div class="card-body">
                    <h4><a href="/register">{{ dpt.name }}</a></h4>
                </div>
            </div>
            <br>
        </div>
    {% endfor %}

{#    <p class="testOmar"> Hola crayola</p>#}
{#    <div class="DepartmentsContainer">#}
{#        <div class="DepartmentsBlocks">#}
{#            <a href="#/Action1" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep1.png' %}"></a>#}
{#            <a href="#/Action2" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep2.png' %}"></a>#}
{#            <a href="#/Action3" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep3.png' %}"></a>#}
{#            <a href="#/Action4" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep4.png' %}"></a>#}
{#            <a href="#/Action5" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep5.png' %}"></a>#}
{#            <a href="#/Action3" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep6.png' %}"></a>#}
{#            <a href="#/Action4" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep7.png' %}"></a>#}
{#            <a href="#/Action5" class="button">#}
{#                <img class="ButtonImage" src="{% static 'departments/Pictures/Dep8.png' %}"></a>#}
{#        </div>#}
{#    </div>#}

{%  endblock content %}